.juiciest {
    padding-top: 19px;
    width: 100%;
}
.juiciest__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    @media (max-width: 1440px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.juiciest__item {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.juiciest__item__image-container {
    position: relative;
}
.juiciest__item-content {
    width: 50%;
    padding: 7px 24px 0 15.5px;
}
