.main {
    height: 100%;
    padding-left: 14px;
    @media (max-width: 768px) {
        width: 97%;
        padding-left: 20px;
    }
    @media (max-width: 360px) {
        padding-left: 16px;
    }
}
.title {
    padding-top: 16px;
    padding-bottom: 20px;
    @media (max-width: 768px) {
        padding: 0 0 10px;
    }
}
