.navMenu {
    height: 100%;
    padding-left: 28px;
    @media (max-width: 768px) {
        background: white;
    }
}

.navMenu__version {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.24);
}
.navMenu__copyright {
    line-height: 133%;
    color: rgba(0, 0, 0, 0.64);
}
.navMenu__logout {
    font-weight: 600;
    font-size: 12.3px;
    border: 0;
    gap: 5px;
}
