.navMenu {
    height: 100%;
    padding-left: 28px;
    @media (max-width: 768px) {
        background: white;
    }
}

.navMenu__item {
    justify-content: space-between;
    width: 100%;
}
.navMenu__item:first-child {
    margin-top: 12px;
}

.navMenu__item_text {
    font-weight: 500;
    line-height: 150%;
}

.navMenu__version {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.24);
}
.navMenu__copyright {
    line-height: 133%;
    color: rgba(0, 0, 0, 0.64);
}
.navMenu__logout {
    font-weight: 600;
    font-size: 12.3px;
    border: 0;
    gap: 5px;
}
