.recipe-action__container {
    width: 186px;
    height: 186px;
    background: radial-gradient(50% 50% at 50% 50%, #c4ff61 0%, rgba(255, 255, 255, 0) 100%);
}
.recipe-action__icon {
    margin-top: 9px;
}
